@charset "UTF-8";




:root {
    --m-color: #78C2C4;
}

html {
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    height: 100%;
}

html::-webkit-scrollbar {
    width: 0px;
}

::selection {
    background: var(--m-color);
    background: #78C2C4;
    color: #fff;
}

body {
    background: #222 no-repeat fixed top;
    padding: 0;
    margin: 0;
    font-family: 'Trajan Pro', serif;
    font-size: 24px;
    background-size: cover;
    position: relative;
    height: 100%;
}

.bg {
    height: auto !important;
    height: 100%;
    margin: 0 auto; 
    overflow: hidden;
    position: fixed;
    min-height: 100% !important;
    width: 100%;
    z-index: 0;
}

header {
    background: rgba(0, 0, 0, .35);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}

header a {
    text-decoration: none;
    color: #fff;
}

@media screen and (min-width: 361px) and (max-width: 447px) {
    body {
        font-size: 20px;
    }
}

@media screen and (max-width: 360px) {
    body {
        font-size: 18px;
    }
}

#banner {
    margin-top: 30vh;
    margin-bottom: 20vh;
    font-size: 1.8em;
    color: #fff;
    line-height: 1.5em;
    font-weight: 900;
}

#spb {
    background: var(--m-color);
    background: #78C2C4;
    font-weight: 600;
}

ul {
    margin-bottom: 15vh;
}

li {
    font-size: 1.2em;
    list-style-type: none;
    line-height: 1.5em;
}

li a {
    color: rgba(255, 255, 255, .8);
    text-decoration: none;
    position: relative;
    left: -20px;
}

#more {
    color: var(--m-color);
    color: #78C2C4;
    padding: 5px 8px;
    display: inline-block;
}

#more::after {
    content: "";
    background: var(--m-color);
    background: #78C2C4;
    width: 0;
    height: 2px;
    display: block;
    transition: width 300ms ease-in-out;
}

#more:hover::after {
    width: 100%;
}

@font-face {
    font-family: 'Trajan Pro';
    src: url('../font/TrajanPro-Regular.woff2') format('woff2'),
         url('../font/TrajanPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

