
<footer id="footer" class="clearfix">
	<% if (theme.search.enable === true) { %>
	<div class="search">
	  <form name="searchform" id="searchform" class="u-search-form">
	    <input type="text" id="searchinput" 
				class="u-search-input st-default-search-input"
				data-list-highlight="true" 
				data-list-value-completion="true" 
				placeholder="找點什麽……" />
	    <button type="submit" id="u-search-btn-submit" class="u-search-btn-submit">
	      <span class="icon icon-search"></span>
	    </button>
	  </form>
	</div>
	<% } %>
  <div>&copy; <a href="<%= config.url %>"><%= config.title %></a> <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/us/deed.en">CC BY-NC-SA 3.0</a>.</div>
  <div>主題來自 <a href="http://artifact.me/" target="_blank">Art Chen</a> 由 <a href="https://hexo.io/" rel="external">Hexo</a> 驅動.</div>
</footer>

